<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <style>
    /* Add your custom styles here */
  </style>
</head>
<body>
  <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" bgcolor="#f7f7f7">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
          <tr>
            <td align="center" bgcolor="#111111" style="padding: 14px 0;">
              <h2 style="font-size: 34px; margin-bottom: 30px; color: #9D7100;">Event Management System</h2>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px;">
              <h2 style="font-size: 24px; margin-bottom: 30px;">Password Reset</h2>
              <p style="margin-bottom: 30px;">Dear <%= userInfo.userName %>,</p>
              <p style="margin-bottom: 30px;">We have received a request to reset your password. To proceed, please click on the button below:</p>
              <p style="text-align: center;">
                <a href="<%= userInfo.resetPasswordUrl %>" target="_blank" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: #ffffff; text-decoration: none;">Reset Password</a>
              </p>
              <p style="margin-bottom: 30px;">If you did not request a password reset, please ignore this email.</p>
              <p style="margin-bottom: 0;">Best regards,</p>
              <p>EMS</p>
            </td>
          </tr>
          <tr>
            <td bgcolor="#f2f2f2" style="padding: 20px; text-align: center;">
              <p style="margin-bottom: 0;">If you have any questions, please contact us at <a href="mailto:info@ems.org ">info@ems.org </a>.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
